/* Responsive Styling for Portfolio Project */
/* Unit 2 - Building Blocks of Front-End    */
/* Created by Jeff George                   */
/* Udacity FEND Nanodegree - March 2019     */


/* Phablets - Major (401px to 550px ) **/
@media screen and (min-width: 401px) {

  html, body {
    font-size: 18px;
  }

  /* Header */

  .header-logo {
    float: left;
    width: 60px;
  }

  header h1,
  header p {
    text-align: right;
    float: right;
    width: calc(100% - (1rem + 60px));
  }

  header h1 {
    font-size: 1.8rem;
  }

  header p {
    font-size: 1.2rem;
  }


  /* Main */

  section.hero {
    text-align: left;
    padding-top: 10rem;
  }
}

/* Phablets - Minor (461px to 550px) ***/
@media screen and (min-width: 461px) {

  /* Header */
  .header-logo {
    width: 75px;
  }

  header h1,
  header p {
    width: calc(100% - (1rem + 75px));
  }

  header h1 { font-size: 2.1rem; }
  header p { font-size: 1.5rem; }


  /* Main */

  section.hero {
    padding-top: 11rem;
  }

  article.blog-feature img {
    width: 33%;
  }
}


/* Tablets - Major (551px - 800px) */
@media screen and (min-width: 551px) {

  /* Main */

  div.blog-feature-group {
    display: flex;
    flex-wrap: wrap;
    border-bottom: none;
  }

  article.blog-feature {
    width: calc(50% - 1rem);
    margin-right: 2rem;
    border-top: 1px solid #593a1e;
  }

  article.blog-feature:last-of-type {
    margin-right: 0;
  }

  article.blog-feature img {
    width: 100%;
    margin-right: 0;
  }
}

/* Tablets - Minor (616px - 800px) ***/

@media screen and (min-width: 616px) {

  /* Main */
  section.hero {
    padding-top: 12.5rem;
  }
}