/* General Styling for Portfolio Project */
/* Unit 2 - Building Blocks of Front-End */
/* Created by Jeff George                */
/* Udacity FEND Nanodegree - March 2019  */

/* General Styles and Resets *************/

* {
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Baloo, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.1rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }

p {
  font-family: Tinos, serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* MASTHEAD STYLES*************************/

header {
  color: #593a1e;
  background-color: #d9c196;
  text-align: center;
  padding: 1rem;
}

.header-logo {
  width: 75px;
}

header p {
  font-family: Baloo, sans-serif;
  font-size: 2rem;
}


/* MAIN CONTENT STYLES ********************/

main {
  background-color: #f9f6e8;
  color: #593a1e;
  margin: 0 auto;
}

main a {
  color: #960000;
  font-weight: bold;
  text-decoration: none;
}

main a:hover,
main a:active {
  color: #dd1d04;
}

/* Hero Styles ****************************/

section.hero {
  width: 100%;
  height: 17.5rem;
  background-image: url("../img/papercuts-2017-web.jpg");
  background-color: green;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f9f6e8;
  text-shadow: #000 3px 3px 2px;
  padding: 10rem 1.5rem 1.5rem;
}

section.hero h2 {
  font-size: 1.5rem;
}


/* Projects Styles ***********************/

section.projects {
  padding: 1rem;
}

article.project {
  padding: 0.5rem 0;
}

article.project img {
  width: 100%;
  border: solid 1px #593a1e;
}


/* Blog Styles ***************************/

section.blog {
  color: #593a1e;
  background-color: #d9c196;
  padding: 1rem;
}

div.blog-feature-grp1 {
  border-bottom: 1px solid #593a1e;
}

p.blog-intro {
  margin-bottom: 1rem;
}

article.blog-feature {
  padding: 0.5rem 0;
  display: block;
  border-bottom: 1px solid #593a1e;
}
article.blog-feature:last-child {
  border-bottom: none;
}

article.blog-feature img {
  width: 50%;
  border: solid 1px #593a1e;
  float: left;
  margin-right: 1rem;
  margin-bottom: 0.5rem;

}


/* FOOTER STYLES *************************/

footer {
  background-color: #593a1e;
  color: #d9c196;
  font-size: 0.75rem;
  text-align: center;
  padding: 1rem;
  margin: 0;
}
