/* General Styling for Portfolio Project */
/* Unit 2 - Building Blocks of Front-End */
/* Created by Jeff George                */
/* Udacity FEND Nanodegree - March 2019  */

/* General Styles and Resets *************/
* {
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  background-color: #f3ead3;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Baloo, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

h1 { font-size: 3rem; }
h2 { font-size: 2.1rem; }
h3 { font-size: 1.8rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.2rem; }
h6 { font-size: 1rem; }

p {
  font-family: Tinos, serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* MASTHEAD STYLES *************************/
header {
  color: #593a1e;
  background-color: #d9c196;
  text-align: center;
  padding: 1rem 1.5rem;
}

header img.logo {
  width: 75px;
}

header p {
  font-family: Baloo, sans-serif;
  font-size: 2rem;
}


/* MAIN CONTENT STYLES ********************/
main {
  background-color: #f9f6e8;
  color: #593a1e;
  margin: 0 auto;
}

main a {
  color: #960000;
  font-weight: bold;
  text-decoration: none;
}

main a:hover,
main a:active {
  color: #dd1d04;
}

/* Hero Styles ****************************/
section.hero {
  width: 100%;
  position: relative;
  height: 334px;
  background-image: url(../img/papercuts-2017-400.jpg);
  background-image: -webkit-image-set(
    url(../img/papercuts-2017-400.jpg) 1x,
    url(../img/papercuts-2017-400x2.jpg) 2x
  );
  background-image: image-set(
    url(../img/papercuts-2017-400.jpg) 1x,
    url(../img/papercuts-2017-400x2.jpg) 2x
  );
  background-color: green;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #f9f6e8;
  text-shadow: 2px 2px 5px #000, 0 0 1px #000;
  text-align: center;
  border: #593a1e solid 4px;
  border-right: none;
  border-left: none;
}

section.hero h2 {
  font-size: 1.5rem;
  width: calc(100% - 3rem);
  position: absolute;
  bottom: 1rem;
  left: 1.5rem;
}


/* Projects Styles ***********************/
section.projects {
  padding: 1.5rem;
}

article.project {
  padding: 1rem 0;
}

article.project h3 {
  margin-bottom: 0.5rem;
}

article.project img {
  width: 100%;
  border: solid 1px #593a1e;
  margin-bottom: 0.75rem;
}


/* Blog Styles ***************************/
section.blog {
  color: #593a1e;
  background-color: #d9c196;
  padding: 1.5rem;
}

p.blog-intro {
  margin: 0.5rem 0 1rem;
}

article.blog-feature {
  display: block;
  border-top: 1px solid #593a1e;
  padding: 0.75rem 0;
}

article.blog-feature h3 {
  font-size: 1.5rem;
  margin: 0.25rem 0;
}

article.blog-feature img {
  width: 50%;
  border: solid 1px #593a1e;
  float: left;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}


/* FOOTER STYLES *************************/
footer {
  background-color: #593a1e;
  color: #d9c196;
  font-size: 0.75rem;
  text-align: center;
  padding: 1rem;
  margin: 0;
}