* {
  /*border: 1px solid red !important;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

header.page-header {
  border-bottom: 3px solid #bcbbbb;
  padding: 1.5rem 0;
  margin: 0 0 1.5rem;
}

header.page-header h1,
header.page-header p {
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
  color: #747704;
}

header.page-header h1 {
  margin: 1rem 0 0;
  font-size: 2.75rem;
}

header.page-header p {
  margin-top: 0;
}

header.section-header {
  color: #bcbbbb;
}

header.section-header h2 {
  font-weight: 400;
  font-size: 2.25rem;
  margin-bottom: .75rem;
  letter-spacing: .025em;
}

article.work-sample {
  padding: 0 0.75rem;
}

article.work-sample:first-child {
  padding-left: 0;
}

article.work-sample:last-child {
  padding-right: 0;
}

article.work-sample img {
  width: 100%;
  height: 12rem;
}

article.work-sample h3 {
  color: #747704;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  letter-spacing: .025em;
  margin: 0.25rem 0 0;
}

article.work-sample p {
  font-weight: 300;
  text-align: center;
  margin: 0 0;
}

article.work-sample p a {
  text-decoration: none;
  color: #747704;
}

article.work-sample p a:hover,
article.work-sample p a:active {
  color: #F8981C;
}

.grid {
  max-width: 960px;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}

.col-1  { width: 8.33%; }
.col-2  { width: 16.66%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }